:root {
    --color-body: #dddddda4;
    --titles: #363f5f;
    --lilac: #A661EB;
    --light-lilac: #DAABF2;
    --red: #e61d1d;
    --cards: #fff;
    --title-table: #969cb3;
    --table: #fff;

    --modal-bg: #f2f0f5;
}

.dark-mode:root { 
    --color-body: #3f334b;
    --titles: #eff2ff;
    --lilac: #A661EB;
    --light-lilac: #DAABF2;
    --red:#e61d1d;
    ;
    --cards: #704b8f;
    --table: #29123b;

    --modal-bg: #29123b;
}

/* Global ======================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background-color: var(--color-body);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* position: relative; */
}

/* Titles ===================== */
h2 {
    margin: 3.2rem 0 0.8rem;
    font-weight: normal;
    color: var(--titles);
}

/* Links & Buttons ===================*/
a {
    color: var(--lilac);
    text-decoration: none;
}

a:hover {
    color: var(--light-lilac);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0.25rem;
    padding: 0;
    color: #fff;
    background-color: var(--lilac);
    cursor: pointer;
}

button:hover {
    background-color: var(--light-lilac);
}


.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

.input-group.actions .button, 
.input-group.actions button {
    width: 48%;
}

/* Dark Mode ===================*/
.dark-mode-toggle {
    width: 3.8rem;
    height: 1.9rem;
    background-color: #fff4;
    border-radius: 32px; 
    position: absolute;
    right: 10%;
    z-index: 0;
}

.dark-mode-toggle span {
    z-index: -1;
    font-size: .7rem;
}

#darkmode {
    display: none;
}

.toggle {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: #fcf4ff9a;
    border-radius: 32px;
    box-shadow: none;
    transition: .2s cubic-bezier(0.895, 0.07, 0.685, 0.68);
    cursor: pointer;
    z-index: 1;
    opacity: 1;
}

.toggle::before {
    content: "🌙";
    position: absolute;
    font-size: 0;
    top: 0.15rem;
    left: 0.17rem;

}

.toggle::after {
    align-self: center;
    content: "☀️";
    position: absolute;
    font-size: 12px;
    top: 0.15rem;
    left: 0.17rem;
}

#darkmode:checked + .toggle {
    left: 2rem;
    background-color: #fcf4ff9a;
    ;
}

#darkmode:checked +.toggle::after {
    font-size:0;
}

#darkmode:checked +.toggle::before {
    font-size: 12px ;
}

/* Header ======================= */
header {
    height: 1vh;
    background: linear-gradient(to left, #b246e7, #c070e9, #b178f3);
    padding: 2.5rem 0 13rem;
    text-align: center;
}

#logo {
    font-size: 1.6rem;
    font-weight: 100;
    color: #fff;
}

/* Balance ======================= */
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* Cards ======================= */
.card {
    background-color: var(--cards);
    border-radius: .25rem;
    margin-bottom: 20px;
    padding: 1.5rem 2rem;
    color: var(--titles);
}

.card h3 {
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background-color: var(--lilac);
    color: #fff;
}
/* Table ================= */
#transaction {
    width: 100%;
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%; 
    border-spacing: 0 0.5rem;
    color: var(--title-table);

    /* display: block;
    overflow-x:auto; */
}

table thead th:first-child, table tbody td:first-child {
    border-radius: 0.25rem 0 0 0.25em;
}

table thead th:last-child, table tbody td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    background: var(--table);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: .7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: var(--table);
    padding: 1rem 2rem;
}

td.description {
    color: var(--titles);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}

td img {
    cursor: pointer;
}

/* Modal ===================*/
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 99;
}

.modal {
    background-color: var(--modal-bg);
    padding: 2.4rem;
    position: relative;
    box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.1);
}

/* Form ===================*/
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
}

.input-group {
    margin-top: 1rem;
}

.input-group input:focus {
    outline: none;
    border: 1px solid var(--light-lilac)
}

.input-group small {
    opacity: 0.4;
}

.dark-mode small {
    color: #fff;
}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button, 
.input-group.actions button {
    width: 48%;
}

.input-group.actions button:focus {
    outline: none;

}


/* Footer ============== */
footer {
    text-align: center;
    padding: 2rem 0 1.2rem;
    color: var(--titles);
    opacity: .6;
}

footer p {
    z-index:0;
}

/* Responsive ===================*/

@media (min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* repete 3x 1fr */
        gap: 2rem; /* espaço entre colunas */
    }


}